@{ 
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>Gym Management - About Us</title>
     <!-- Bootstrap CSS -->
     <link rel="stylesheet"
           href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
     <!-- Custom CSS -->
     <link rel="stylesheet" href="@Url.Content("/Content/service_style.css")">
</head>
<body>
     <h1 class="services-heading" style="position:relative;">Our Services</h1>
     <div class="container text-center">
         <div class="service-container">
             <!-- Personal Training -->
             <div class="service-card" onclick="location.href='@Url.Action("PersonalTraining", "Services")';">
                 <img src="@Url.Content("~/Content/img/Best-Personal-Trainers-in-Edgewater-MD.png")" alt="Personal Training">
                 <div class="overlay">Meet our team!</div>
                 <div class="service-title">Personal Training</div>
             </div>

             <!-- Group Programs -->
             <div class="service-card" onclick="location.href='@Url.Action("GroupPrograms", "Services")';">
                 <img src="@Url.Content("~/Content/img/group-workouts-1-1-1024x536.jpg")" alt="Group Programs">
                 <div class="overlay">Sign up for a session!</div>
                 <div class="service-title">Group Programs</div>
             </div>

             <!-- NutritionCoaching -->
             <div class="service-card" onclick="location.href='@Url.Action("NutritionCoaching", "Services")';">
                 <img src="@Url.Content("~/Content/img/f710044bf79a4b1f5d8b085e5e5d9711_M.jpg")" alt="Nutrition coaching">
                 <div class="overlay">Create your diet!</div>
                 <div class="service-title">Nutrition Coaching</div>
             </div>
         </div>
     </div>


     <!-- Bootstrap JS Bundle -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
     <script src="@Url.Content("~/Scripts/home_script.js")"></script>

</body>
</html>
